<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/public/scripts/editArticle.js"></script>
    <link rel="icon" type="image/png" href="/public/favicon.ico">

    <script>
        const id = "<%- articleId %>"
        let tags = `<%- tags %>`
    </script>

    <style>
        a {
            color: rgb(44, 47, 94);
            text-decoration: underline;
        }

        .centerdiv {
            display: block;
            margin: auto;
            margin-bottom: 25px;
            margin-top: 25px;
            /*text-align: center;*/
            width: 700px;
            height: auto;
            background-color: #3a3a3a;
            color: white;
            padding: 15px;
            border-radius: 30px;
            position: relative;
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 15px;
            padding-bottom: 5px;
        }

        .formbar {
            font-size: 20px;
            width: 100%;
            outline: none;
            font-family: sans-serif;
            box-sizing: border-box;
            padding: 10px;
        }

        .bodybar {
            display: flex; 
            background-color: #4b4b4b; 
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            box-sizing: border-box;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 2px;
            user-select: none;
        }

        .bodybar div {
            padding-right: 20px;
        }

        .bodybar span {
            cursor: pointer;
            padding-right: 5px;
            transition-duration: 100ms;
        }

        .bodybar span:hover {
            color: rgb(184, 184, 184) !important;
        }

        .bodybar span:active {
            color: rgb(216, 216, 216) !important;
            transform: scale(0.75);
        }
    </style>

    <script src="/public/scripts/universalUtils.js"></script>
</head>

<body>
    <div class="promptdiv" id="prompt-parent" style="display: none;">
        <h1 id="prompt-title"></h1>
        <p id="prompt-desc">
            
        </p>
        
        <div id="prompt-inputholder"> 
        </div>     

        <div id="prompt-choiceholder"> 
        </div>  

        <div class="alert" id="alert-parent" style="display: none;">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <p id="alert-text" style="margin: 0;">Alert box</p>
          </div>

        <div id="prompt-buttonholder">          
        </div>
    </div>

    <div id="overlay" class="overlay" style="display: none;"></div>

    <input type="file" id="fileInput" style="display:none" accept="image/*">

    <div class="topnavholder">
        <div class="topnav">
            <a href="/">Tools</a>
            <a class="active" href="/articles/about">About</a>
            <a href="https://github.com/Ticko-Grey/trptools">Open Source</a>
        </div>

        <div class="topnav nav-right">
            <a id="loginAccount" href="/auth/login">Login</a>
        </div>
    </div>

    <div class="centerdiv">

        <h1 style="margin-top: 0px;">TrP Tools Article composer</h1>

        <div class="formfield">
            <input value="<%- title %>" id="title" class="formbar" placeholder="Title" style="height: 30px;">   
            <input value="" id="tags" class="formbar" placeholder="Enter tags (seperated by commas, ex: apples, oranges, pears)" style="height: 30px; margin-top: 25px; border-radius: 25px; border: none;">             
        </div>

        <br>

        <div class="formfield">
            <div class="bodybar">
                <div>
                    <span class="textEditIcon material-symbols-outlined" id="edit_heading">title</span>
                    <span class="textEditIcon material-symbols-outlined" id="edit_bold">format_bold</span>
                    <span class="textEditIcon material-symbols-outlined" id="edit_italic">format_italic</span>
                    <span class="textEditIcon material-symbols-outlined" id="edit_strikethrough">format_strikethrough</span>
                </div>
                
                <div>
                    <span class="textEditIcon material-symbols-outlined" id="edit_code">code</span>
                    <span class="textEditIcon material-symbols-outlined" id="edit_quote">format_quote</span>
                    <span class="textEditIcon material-symbols-outlined" id="edit_list">list</span>
                </div>

                <div>
                    <span class="textEditIcon material-symbols-outlined" id="edit_link">link</span>
                    <span class="textEditIcon material-symbols-outlined" id="edit_image">image</span>
                    <span class="textEditIcon material-symbols-outlined" id="edit_groups">groups</span>
                </div>

            </div>
            <textarea style="height: 200px; width: 100%; resize: vertical; display: block;" id="body" class="formbar" placeholder="Post content"><%- body %></textarea> 
        </div>

        <div>
            <button class="inputbutton" style="background-color: #802c2c;" onclick="Cancel()">Cancel</button>
            <button class="inputbutton" style="background-color: #4CAF50;" onclick="Submit()">Submit</button>
        </div>
    </div>

</body>
</html>